[user]
	name = Omkar Chandorkar
	email = gotenksIN@aospa.co
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAID/l6Yi9GMuGJjmHcntZfujdE0kCtg5Lkt1ZcJLeVZP+ gotenks@RyzenBox
[gpg]
	format = ssh
[commit]
	gpgsign = true
[pull]
	rebase = false
[core]
	editor = nano
[init]
	defaultBranch = master
[merge]
	log = true
[tag]
	gpgsign = true
[color]
	ui = auto
[review "gerrit-ssh.aospa.co"]
	username = gotenksIN
[push]
	autoSetupRemote = true
